{% extends "base.html" %}
{% block content %}

<!-- =======================4) ABOUT ("/about")======================= -->
<section id="page-title">
  <h1>About Us</h1>
</section>

<section id="main-paragraphs">
  
  <h2>What is a Rishi?</h2>
  <p>
The word “Rishi” originates from the Sanskrit root 'ṛṣ', meaning “to see” or “to perceive.” It signifies a profound clarity — a vision of the interconnectedness of all things. In ancient Indian and Hindu traditions, a Rishi is a sage, a seeker of truth, and a keeper of profound wisdom. These enlightened beings are revered for their deep understanding of the cosmos and the human spirit. Rishis were not just thinkers; 
they embodied a harmonious balance of intellect and intuition, logic and imagination, action and reflection. They were storytellers, scientists, healers, and guides who bridged the seen and the unseen.

At Rishi, we channel this timeless essence of the Rishi into everything we do. Like the Rishis of old, we embrace curiosity, innovation, and the pursuit of excellence. Through data collection and deep analysis, we strive to see the unseen, uncovering insights that inspire transformative connections between brands and their audiences. Our approach is rooted in experience and wisdom and guided by creativity, empowering Cannabis brands to achieve clarity and purpose in a competitive marketplace.

To us, a Rishi is more than a sage from history. It is a symbol of possibility, a reminder to think deeply, act wisely and ethically, and innovate fearlessly. Whether crafting strategies or executing campaigns, we aspire to reflect the Rishi spirit by delivering work that enlightens, elevates, and endures.

  </p>
</section>

<section id="mission-values">
  <h2>About Rishi</h2>
  <p>
    Rishi was founded in 2020 by Matt Gill, Kevin Lichtfuss, Ryan Affleck, and Michael Waxman. Originally founded to help brands scale their brand activation programs, Rishi has since evolved into a full field and trade agency, assisting brands, dispensaries, and ancillary cannabis businesses with brand activation, retail staff training, merchandising execution, marketing research, mystery shopping, sales, and overall growth.

Our mission is simple, and our values are our core. We strive to grow the cannabis industry by supporting the brands, retailers, and ancillaries that make our industry what it is. We aim to create and build careers paths for our highly skilled and highly trained team by providing a foot in the door to the industry for those with the passion but not the connections. We promise to always be fully transparent, honest, ethical, and to act in the best interests of our clients and their customers. 

We elevate the industry by elevating the ground game of brands, dispensaries, and ancillaries. 
    
  </p>
</section>

<section id="meet-rishi">
  <h2>Meet Rishi</h2>
Top row: 

<h3>Matt Gill</h3>
<img>Photo</img>
<p></p>PBlurb --> Blurbs should be written in the first person by each individual. Tell us who you are, what you've done, and why you're here in your own words</p>

Ryan Affleck
Photo
Blurb

Mike Waxman
Photo
Blurb

Second Row: 
Gabe Arias, Head of Training, photo
Melissa Francis, Northern California Supervisor, photo
Elliot Robinson, Souther California Supervisor, photo
Heather Orsini, Lead Trainer, photo
Joseph Saling, Marketing Manager, photo
Aurelio "Lee" Granata, Head of Ancillary Sales, photo

Third Row: Advisors

  Kevin Lichtfuss, Founder, Advisors, photo
  Laniakea Evans, Retail Advisor, photo
  
</section>

{% endblock %}
